.email_all {
    width: 1500px;
    margin: 0 auto;
    padding-top: 200px;
    box-sizing: border-box;
}
.email_m {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    padding: 25px;
    background-color: white;
    border: 5px solid #ccc;
    box-sizing: border-box;
    position: relative;
}

.field {
    margin-bottom: 15px;
    border-bottom: 2px solid #aaa;
    display: flex;
    justify-content: space-between;
}

.field_ls {
    border-bottom: none;
    display: block;
    margin-bottom: 10px;
}

.field_ls label {
    margin-bottom: 15px;
}

.field label {
    display: inline-block;
    font-size: 30px;
    color: #777;
}

.field input {
    display: inline-block;
    width: 450px;
    line-height: 1.5;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

#message {
    display: block;
    width: 100%;
    word-break: normal;
    height: 240px;
    font-size: 30px;
    border: 2px solid #aaa;
}

input[type="submit"] {
    display: block;
    padding: 6px 15px;
    font-size: 20px;
    background-color: mediumpurple;
    color: #fff;
    border: none;
    position: absolute;
    bottom: 25px;
    right: 25px;
}